body {
    margin:0px;
    padding:5px;
    padding-top:20px;
}
#stock {
    font-size:40px;
}
.panel {
    margin:5px;
}
input {
    background:#ddd;
    font-size:20px;
}
input#quantity {
    font-size:40px;
    line-height:40px;
    height:60px;
}
p.name {
    font-size:20px;
}
div.navbar {
    min-height:25px;
}

ul.attributes {
    list-style:none;
}

#main.container {
    padding-top:25px;
}

.variant,.main {
    text-align:left;
    margin:2px;
    margin-bottom:10px;
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
    padding:5px;
}

.variant {
    background-color:#e2e2e2;
}

.variant button,.main button {
    margin:2px;
}

.stock-input {
    width:100%;
    max-width:112px;
    height:56px;
    line-height:46px;
    font-size:28px;
    text-align:center;
}

#deactButton {
    font-size:14px;
    margin:3px;
    padding:3px;
    height:auto;
    width:auto;
}

.btn-xs {
    padding:5px;
    margin:0px;
    height:auto;
    font-size:20px;
}

ul.attributes {
    padding-left:0px;
}
