@media print {
    @page {
        page: 8.5in 11in;
        margin: 0;
        padding:0;
    }
}

.page-break {
    clear:left;
    display:block;
    page-break-after:always;
}

body {
    /* background-image:url(/wp-content/plugins/scanventory/assets/2sheet.jpg); */
    background-size: 8.5in 11in;
    width:8.5in;
    height:11in;
    margin: 0;
    padding: 0;
}

.label-wrap {
    padding:0px;
    margin:0px;
    padding-top:14mm;
    padding-left:4mm;
}

.label {
    float:left;
    height:4.75in;
    width:8in;
    margin:0px;
    padding:0px;
    margin-right:3mm;
    text-align:center;
    overflow: hidden;
    position:relative;
}

.qrcode {
    height:4cm;
    width:4cm;
    padding:2mm;
}
.name {
    position:absolute;
    top:10mm;
    left:5cm;
    width:5cm;
    line-height:5mm;
    font-size:1em;
    font-weight:bold;
    text-align:left;
}
.sku {
    position:absolute;
    top:13mm;
    left:5cm;
    width:5cm;
    line-height:1cm;
    text-align:left;
}
.variable {
    clear:both;
    position:absolute;
    top:8.5cm;
    left:1cm;
    width:19cm;
    text-align:left;
}

.image {
    width:200px;
    margin:5mm;
    margin-top:0mm;
}
.image img {
    width:145px;
    height:145px;
    float:left;
}
